

.quick-nav{
  position: absolute;
}

body{
  background-image: url("./Img/Monsters.jpg");
}






//reading Animation
.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shufflebtn{
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;

  button{
    border-radius: 10px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid #ffffff;
  }
}



.cardkeywords{
  display: flex;
  align-items: center;
  height: auto;
  margin: 2rem;
}
.home-links{
  display: flex;
  flex-direction: column;
  a{
    font-family: ancient;
    color: black;
    font-size: 20px;
  }
}

.main-box{
  display: flex;
}

.horoscope-main{
  h4{
    margin: 0;

  }
  p{
    margin: 0;
  }
}

.cardpicked{
  color: black;
}
.aside{
  display: flex;
  margin: 2rem;
  flex-direction: column;

  h3{
    transition: color 0.5s ease-out 10ms;
    padding: 0;
    margin: 0;
  }
}

.card{
  width: 350px;
  height: auto;
  border: 5px solid #555;

}


main{


  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.838);
  margin: 0px auto;
  width: 93%;  
  border-radius: 10px;
  padding: 10px 20px;
}


footer{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: rgb(0, 0, 0);
  a{
    color: black;
    text-decoration: none;
    font-size: 30px;
  }
}


//horoscope

.zodiac-btn{
  button{
    font-family: ancient;
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    background: rgba(247, 198, 62, 0.508);
    border-radius: 20px;
    margin: 1rem;
    padding: 0.3rem;
}
button:hover{
    background: rgba(221, 164, 21, 0.808);
}
}

.horoscope-wrapper{
display: flex;
h2{
  margin: 0;
}

.horoscope-img{
  width: 600px;
}
}


.left{
width: 600px;
}

.right{
width: 600px;
}


.filter-mobile{
  visibility: hidden;
}

.filters{
  visibility: visible;
  flex-wrap: wrap;
}

//breakoint mobile device 
@media only screen and (max-width: 400px) {
  .listimg {
    width: 100%;
    height: -webkit-fill-available;

  }
  .single-card-list {
    width: max-content;
}
}


@media only screen and (max-width: 800px) {
  body{
    background-image: url("./Img/smallmonster.png");
  }
  main {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.838);
  margin: 30px auto;
  height: 100%;
  border-radius: 0px;
  padding: 10px 20px;
  }

  .listimg {
  }

  .filter-mobile{
    visibility: visible;
  }

  .filters{
    visibility: hidden;
    position: absolute;
    
  }
  .cardpicked{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .main-box{
    display: flex;
    flex-direction: column;
  }

  .cardkeywords{
    display: flex;
    height: auto;
    margin: 2rem;
  }

  .aside{
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  .card{
    width: 80%;
  }

//horoscope

  .horoscope-wrapper{
    flex-direction: column;
  }

}




