

.quick-nav{
  position: absolute;
}

body{
  background-image: url("./Img/Monsters.jpg");
  background-attachment: fixed;
}


.shufflebtn{
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;

  button{
    border-radius: 10px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid #ffffff;
  }
}


.cardkeywords{
  display: flex;
  align-items: center;
  height: auto;
  margin: 2rem;
}
.home-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  a{
    font-family: ancient;
    color: black;
    font-size: 40px;
  }
}

.main-box{
  display: flex;
}

.horoscope-main{
  h4{
    margin: 0;

  }
  p{
    margin: 0;
  }
}

.cardpicked{
  color: black;
}
.aside{
  display: flex;
  margin: 2rem;
  flex-direction: column;

  h3{
    transition: color 0.5s ease-out 10ms;
    padding: 0;
    margin: 0;
  }
}

.card{
  width: 350px;
  height: auto;
  border: 5px solid #555;

}


main{


  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.838);
  margin: 0px auto;
  width: 93%;  
  border-radius: 10px;
  padding: 10px 20px;
}


footer{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: rgb(0, 0, 0);
  a{
    color: black;
    text-decoration: none;
    font-size: 30px;
  }
}


//horoscope

.zodiac-btn{
  button{
    font-family: ancient;
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    background: rgba(247, 198, 62, 0.508);
    border-radius: 20px;
    margin: 1rem;
    padding: 0.3rem;
}
button:hover{
    background: rgba(221, 164, 21, 0.808);
}
}

.horoscope-wrapper{
display: flex;
h2{
  margin: 0;
}

.horoscope-img{
  width: 600px;
}
}


.left{
width: 600px;
}

.right{
width: 600px;
}


//breakoint mobile device 

@media only screen and (max-width: 800px) {

main {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.838);
  margin: 30px auto;
  width: 85%;
  height: 20%;
  border-radius: 10px;
  padding: 10px 20px;

}
  .cardpicked{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .main-box{
    display: flex;
    flex-direction: column;
  }

  .cardkeywords{
    display: flex;
    height: auto;
    margin: 2rem;
  }

  .aside{
    display: flex;
    margin: 2rem;
    flex-direction: column;
  }

  .card{
    width: 80%;
  }

//horoscope

  .horoscope-wrapper{
    flex-direction: column;
  }

}




