
body{
  background-image: url("https://images.squarespace-cdn.com/content/v1/5bd8613c9b8fe80e31a0435a/d47e54dc-83f6-463f-8794-c724c47c9d44/Monsters.jpg");
  background-attachment: fixed;
}


.shufflebtn{
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;

  button{
    border-radius: 10px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid #ffffff;
  }
}


.cardkeywords{
  display: flex;
  align-items: center;
  height: auto;
  margin: 2rem;
}

.main-box{
  display: flex;
}

.cardpicked{
  color: black;
}
.aside{
  display: flex;
  margin: 2rem;
  flex-direction: column;

  h3{
    transition: color 0.5s ease-out 10ms;
  }
}

.card{
  width: 350px;
  height: auto;
  border: 5px solid #555;

}


main{


  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.838);
  margin: 30px auto;
  width: 85%;
  height: 20%;
  border-radius: 10px;
  padding: 10px 20px;
}


footer{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: rgb(0, 0, 0);
  a{
    color: black;
    text-decoration: none;
    font-size: 30px;
  }
}


//breakoint mobile device 

@media only screen and (max-width: 800px) {

main {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.838);
  margin: 30px auto;
  width: 85%;
  height: 20%;
  border-radius: 10px;
  padding: 10px 20px;

}


  .cardpicked{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-box{
    display: flex;
    flex-direction: column;
  }

  .cardkeywords{
    display: flex;
    height: auto;
    margin: 2rem;
  }

  .aside{
    display: flex;
    margin: 2rem;
    flex-direction: column;
  }

  .card{
    width: 80%;
  }


}
